*{
    margin: 0; 
    padding: 0;
     box-sizing: border-box;   
   }
   
   .nav_menu {
    padding: 0; width: 720px; margin: 0 auto

    }
     .nav_menu ul {
        list-style: none; margin: 0; padding: 0;
         left: 330px;
    }

     .nav_menu li {
        display: inline-block
    }

    .nav_menu a {
    float: left;
    width: 150px;
    text-decoration: none;
    text-align: center;
    padding-top: 25.5px;
    font-size: 18px;
    line-height: 18px;
    color: #FF0000;
    text-transform: uppercase;
    padding-bottom: 25.5px;
   } 

   .picture-img img  {
    width: 100%;
    padding-bottom: 48px;
   }

   .section-info {
    
    text-align: center;
    margin: 0px 67.5px 82px 67.5px;
    
   }

   .section-info-title {
    letter-spacing: 3.3px;
    padding-bottom: 38px;
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase;
    color: #373737;
   }
   
   .section-info-text {
    text-align: center ;
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 28px;

   }

   .section-info-link {
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    padding: 18px 43.5px 17px 42.5px;
    background: #FF0000;
    margin-top: 38px;
   
}

.license {
    text-align: right;
   
}

.license-text {
    margin: 82px 105px 29px;
}