* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body {
  font-family: sans-serif;
}
  
.container {
  width: 1170px;
  margin: 0 auto;
}
.hero {
   background-image: url(../images/hero-background.png);background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   padding-top: 530px; 
   padding-bottom: 133px; 
   color: wheat;
 } 
 .hero-title {
  font-size: 48px;
  line-height: 59px;
  text-transform: uppercase;
  margin-bottom: 16px;
 } 
 .hero-subtitle {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 22px;
 }

 .hero-slogan {
  padding: 38px 31px;
  font-size: 54px;
  line-height: 66px;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid white;
  width: max-content;
 }